<ion-view title="Chats">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ui-sref="settings">
            <i class="icon ion-ios-settings"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list class="list-chats">
            <ion-item style='padding-left:10px' class="item-avatar" ui-sref="app.conversation({ id : i.id })" ng-repeat="i in chats.data">
                <img ng-src="img/avatar-placeholder.svg" hires="{{ i.service.icon }}" />
                
                <span class="item-note" style="font-weight:bold">{{ i.provider_count }} Providers</span>
                <h2><b><small>{{ i.service.name }}</small></b></h2>
                <span class="badge badge-assertive">{{ i.provider_count }}</span>
                <p style="color:#aaa">{{ i.description }}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>