<ion-view hide-nav-bar='true' title="Login" >
    <ion-content padding="true" class="background" style="background-image: url('img/login-bg.jpg');background-size:cover;background-position:center">
        
        <div class="logo login-mode logo-container text-center padding" style="margin-top:30px;margin-bottom:50px">
            <img src="img/iNeed-logo-client.svg" alt="iNeed">
        </div>
        
        <form autocomplete="off" style="width:90%;margin:auto" method="post" name="loginForm" ng-submit="login($event)" class="list list-light no-bottom-padding">
            <label style="background:transparent;border:none;border-bottom:solid #999 1px" class="item item-input item-stacked-label"
                ng-class="{'has-error' : loginForm.email.$touched && loginForm.email.$invalid}">
                <i class="icon ion-person" style="font-weight: bold;color:#9ef;font-size:30px;display:inline-block"></i>
                <input autocomplete="off"  style="font-size: 16px;font-weight:normal;color:#fff;padding: 5px;margin-left:10px;display: inline-block;background:transparent" type="email" placeholder="Your Email" ng-model="user.email" name="email" required>
            </label>
            <label style="margin-top:10px;background:transparent;border:none;border-bottom:solid #999 1px" class="item item-input item-stacked-label"
                ng-class="{'has-error' : loginForm.password.$touched && loginForm.password.$invalid}">
                <i class="icon ion-locked" style="font-weight: bold;color:#9ef;font-size:30px;display:inline-block"></i>
                <input autocomplete="off"  style="font-size: 16px;font-weight:normal;color:#fff;padding: 5px;margin-left:10px;display: inline-block;background:transparent" type='password'  placeholder="Password" ng-model="user.password" name="password" required>
            </label>
            
            <button style="margin-top:30px;background-color:#fff;color:#2269c0;padding:5px;border-radius:20px;font-size:14px;font-weight:bold" type="submit" ng-disabled="loginForm.$invalid"  id="login-button" class="button button-block">
                LOG IN
            </button>
            <div style="margin:auto;margin-top:20px;color:#fff;font-weight:bold;font-size:14px;text-align:center">
                Don't have an account? 
                <a ui-sref="welcome" style="text-decoration:none" >
                   Sign Up
                </a>
            </div>
        </form>

        <div ng-show='0' style="color:#888;text-align:center;">
            <p>or</p>
        </div>

        <div ng-show='0' ng-include="'templates/_social-login-btns.html'"></div>
    </ion-content>
</ion-view>