<ion-view title="Favorites" id="page4">
    
    <ion-nav-buttons side="right">
        <button class="button button-clear" ui-sref="settings">
            <i class="icon ion-ios-settings"></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header">
        <div class="padding">
            <div class="button-bar">
                <button class="button button-small button-positive  button-block">My Favs</button>
                <button class="button button-small button-stable  button-block">Local Favs</button>
                <button class="button button-small button-stable  button-block">Friends Favs</button>
            </div>    
        </div>
        
        <ion-list class='list-chats'>
            <ion-item class="item-avatar" ui-sref="app.providerDetails({ id : i.id  })" ng-repeat="i in favs | limitTo:5">
                <img ng-src="{{ i.img }}" />
                
                    <h2 style="color:#333"><strong>{{ i.name }} <br> </strong></h2>
                    <h4 style="color:#555">{{ i.contact }}</h4>
                    <h2><p>{{ i.text }}</p></h2>
            </ion-item>
			
		<!--add an Image thumbnail.-->
        </ion-list>
    </ion-content>
</ion-view>