<ion-view title="Favoristes">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-content class="has-header">
        <div class="button-bar">
            <button id="favorites-button6" class="button button-stable  button-block">My Favourites</button>
            <button id="favorites-button7" class="button button-stable  button-block">Local Favourites</button>
            <button id="favorites-button7" class="button button-stable  button-block">Friends Favourites</button>
        </div>
        <ion-list>
            <ion-item class="item-avatar" ui-sref="app.providerDetails({ id : i.id  })" ng-repeat="i in favs | limitTo:5">
                <img src="https://randomuser.me/api/portraits/men/{{ (i.id + $index) }}.jpg">
                <h2>{{ i.name }}</h2>
                <p>{{ i.text }}</p>
            </ion-item>
        </ion-list>
		
    </ion-content>
</ion-view>