<ion-view hide-nav-bar="true">
    <ion-content padding="true" class="background" style="background-image: url('img/login-bg.jpg');background-size:cover;background-position:center">
        
        <div class="logo logo-container text-center padding" style="margin-bottom:5px">
            <img src="img/iNeed-logo-client.svg" alt="iNeed">
        </div>

        <div style="width:80%;margin:auto;text-align:center;color:#fff;font-weight:bold;font-size:30px;margin-bottom:20px;text-decoration:none;">
            Sign Up
        </div>
        
        <form method="post" style="width:90%;margin:auto"  name="signupForm" ng-submit="signUp($event)" class="list list-light no-bottom-padding">
            <label style="background:transparent;border:none;border-bottom:solid #999 1px" class="item item-input item-stacked-label"
                ng-class="{'has-error' : signupForm.name.$touched && signupForm.name.$invalid}">
                <i class="icon ion-person" style="font-weight: bold;color:#9ef;font-size:30px;display:inline-block"></i>
                <input style="font-size: 14px;font-weight:normal;color:#fff;padding: 3px;margin-left:10px;display: inline-block;background:transparent" type="text" placeholder="Your Full Name" ng-model="user.name" name="name" required>
            </label>
            <label style="background:transparent;border:none;border-bottom:solid #999 1px" class="item item-input item-stacked-label"
                ng-class="{'has-error' : signupForm.email.$touched && signupForm.email.$invalid}"><i class="icon ion-email" style="font-weight: bold;color:#9ef;font-size:30px;display:inline-block"></i>
                <input style="font-size: 14px;font-weight:normal;color:#fff;padding: 3px;margin-left:10px;display: inline-block;background:transparent" type="email" placeholder="Your Email" ng-model="user.email" name="email" required>
            </label>
            <label style="background:transparent;border:none;border-bottom:solid #999 1px" class="item item-input item-stacked-label"
                ng-class="{'has-error' : signupForm.password.$touched && signupForm.password.$invalid}"><i class="icon ion-locked" style="font-weight: bold;color:#9ef;font-size:30px;display:inline-block"></i>
                <input style="font-size: 14px;font-weight:normal;color:#fff;padding: 3px;margin-left:10px;display: inline-block;background:transparent" type="password" ng-minlength="6" placeholder="Password" ng-model="user.password" name="password" required>
            </label>
            <pre class="ng-hide">{{ geo.location | json }}</pre>
            <label style="background:transparent;border:none;border-bottom:solid #999 1px" class="item item-input item-stacked-label"
                ng-class="{'has-error' : signupForm.address.$touched && signupForm.address.$invalid}"><i class="icon ion-home" style="font-weight: bold;color:#9ef;font-size:30px;display:inline-block"></i>
                <ion-google-place style="font-size: 14px;font-weight:normal;color:#fff;padding: 1px;margin-left:10px;display: inline-block;background:transparent" 
                current-location="true" 
                name="address"
                placeholder="Address" 
                ng-model="geo.location" required>
            </ion-google-place>
            </label>
            <label style="background:transparent;border:none;border-bottom:solid #999 1px" class="item item-input item-stacked-label"
                ng-class="{'has-error' : signupForm.post_code.$touched && signupForm.post_code.$invalid}"><i class="icon ion-pin" style="font-weight: bold;color:#9ef;font-size:30px;display:inline-block"></i>
                <input style="font-size: 14px;font-weight:normal;color:#fff;padding: 3px;margin-left:10px;display: inline-block;background:transparent" type="text" placeholder="Zip Code" ng-model="user.post_code" name="post_code" required>
            </label>
            <label style="background:transparent;border:none;border-bottom:solid #999 1px" class="item item-input item-stacked-label"
                ng-class="{'has-error' : signupForm.mobile.$touched && signupForm.mobile.$invalid}"><i class="icon ion-iphone" style="font-weight: bold;color:#9ef;font-size:30px;display:inline-block"></i>
                <input style="font-size: 14px;font-weight:normal;color:#fff;padding: 3px;margin-left:10px;display: inline-block;background:transparent" type="tel" placeholder="Mobile number" ng-model="user.mobile" ng-minlength="10" name="mobile" required>
            </label>

            <button style="margin-top:20px;background-color:#fff;color:#2269c0;padding:5px;border-radius:20px;font-size:14px;font-weight:bold" type="submit" ng-disabled="signupForm.$invalid" id="signup-button" class="button button-block">
                SIGN UP
            </button>
        </form>

            <div style="margin:5px auto 50px auto;color:#fff;font-weight:bold;font-size:14px;text-align:center">
                Already have an account? 
                <a ui-sref="emailLogin" style="text-decoration:none" >
                   Sign In
                </a>
            </div>

        <div ng-show='0' style="color:#888;text-align:center;">
            <p>or</p>
        </div>

        <div ng-show='0' ng-include="'templates/_social-login-btns.html'"></div>
    </ion-content>
</ion-view>