<ion-view title="Providers" id="page3">
    <ion-nav-bar class="bar-positive"></ion-nav-bar>
    <ion-content class="has-header">
        <ion-list class="list-chats">
            <ion-item class="item-avatar" ui-sref="app.providerDetails({ id : i.id  })" ng-repeat="i in chats | limitTo:5">
                <img src="https://randomuser.me/api/portraits/men/{{ (i.id + $index) }}.jpg">
                <h2>{{ i.name }}</h2>
                <p>{{ i.text }}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>