<ion-view title="Provider Info" id="page8">
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-clear" ui-sref="settings">
            <i class="icon ion-ios-settings"></i>
        </button>
    </ion-nav-buttons>
     <ion-nav-buttons side="left">
        <in-back to="app.query"></in-back>
    </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="text-center">
            <img src="http://www.logotree.com/images/category-logo-design/high-tech-logo-design-sample-1.jpg" alt="Logo">
        </div>
        <div class="list card">
            <div class="item item-divider">Description</div>
            <div class="item item-body">
                <div id="providerDetails-markdown6" style="color:#000000;">
                    <p>We are a software development company, we focus on websites and applications. We ensure that all work is done as to our clients satisfaction and hope to hear from you soon.</p>
                </div>
                <div class="button-bar">
                    <button id="providerDetails-button9" class="button button-positive  button-block"><i class="icon ion-chatbubble-working"></i></button>
                    <button id="providerDetails-button10" class="button button-positive  button-block">
                        <i class="icon ion-heart"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Ratings
<i class="icon energized ion-ios-star"></i>
                        <i class="icon energized ion-ios-star"></i>
                        <i class="icon energized ion-ios-star"></i>
                        <i class="icon energized ion-ios-star"></i>
                        <i class="icon energized ion-ios-star-half"></i>
            </div>
            <div class="item item-body">
                <div class="row">
                    <div class="col">
                        Design
                    </div>
                    <div class="col text-right">
                        9.1
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        Timing
                    </div>
                    <div class="col text-right">
                        8.4
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        Price
                    </div>
                    <div class="col text-right">
                        7.9
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        Quality
                    </div>
                    <div class="col text-right">
                        8.5
                    </div>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Client Testimonials</div>
            <ion-item class="item-thumbnail-left">
                <img src="https://randomuser.me/api/portraits/women/10.jpg">
                <h2>Anna</h2>
                <p>I was very pleased with their work, they provided me with what I needed and gave me a great price. 
                <br>
                Rated: 8.2</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="https://randomuser.me/api/portraits/men/14.jpg">
                <h2>Peter</h2>
                <p>I was not very happy with their work,
they took longer than the estimates
they provided and I’m not happy.
                <br>
                Rated: 4.2</p>
            </ion-item>
        </div>
        <button ui-sref="app.chatPrivate" id="providerDetails-button11" class="button button-positive  button-block">Start Private Chat</button>
    </ion-content>
</ion-view>