<ion-view title="iNeed">

    <ion-nav-buttons side="right">
        <button class="button button-clear" ui-sref="settings">
            <i class="icon ion-ios-settings"></i>
        </button>
    </ion-nav-buttons>
    
    <ion-content padding="true" class="has-header background">
        <h4 class="text-center q-text">What are you looking for ?</h4>
        
        <form method="post" name="queryForm" ng-submit="startConversation($event)" class="list list-light">
            <label class="item item-input"
                ng-class="{'has-error' : queryForm.service_id.$touched && queryForm.service_id.$invalid}">
                <i class="icon ion-search placeholder-icon"></i>
                <input 
                    name="service_id"
                    ion-autocomplete 
                    type="search" 
                    placeholder="Search a Service"
                    item-value-key="id"
                    item-view-value-key="name"
                    items-method="getServices(query)"
                    items-method-value-key="items"
                    readonly="readonly"
                    class="ion-autocomplete"
                    template-url="templates/_service_pick.html"
                    autocomplete="off" 
                    max-selected-items="1"
                    ng-model="q.service_id"
                    required
                     />
            </label>
                        
            <label class="item item-input" ng-class="{'has-error' : queryForm.description.$touched && queryForm.description.$invalid}">
                <textarea name="description" rows="4" msd-elastic="\n" placeholder="Describe a little more what you need..." ng-model="q.description" required></textarea>
            </label>
            <ion-toggle ng-change="getLocation()" ng-model="q.current_location" toggle-class="toggle-balanced" name="current_location">Use my current Location</ion-toggle>

            <label class="item item-input">
                <input id="post_code" ng-model="q.post_code" type="text" placeholder="Post Code code" required />
            </label>
            
            <label class="item item-input" name="providers">
                <span class="input-label">Number of providers per chat</span>
            </label>
            
            <div class="item range range-positive">
                <i class="icon ion-ios-people"></i>
                <input type="range" ng-model="q.provider_count" name="volume" min="0" max="10" value="5">
                <i>{{ q.provider_count }} </i>
            </div>
			<button type="submit" ng-disabled="queryForm.$invalid"  class="button button-positive button-block">Start Chat</button>
			<!--Insert time & Date -->
            
        </form>
    </ion-content>
</ion-view>