<ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="Query" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" ui-sref="app.query">
        <ion-nav-view name="tabQuery"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Chats" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" ui-sref="app.chats">
        <ion-nav-view name="tabChat"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Favorites" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" ui-sref="app.favorites">
        <ion-nav-view name="tabFav"></ion-nav-view>
    </ion-tab>
</ion-tabs>
