/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$positive:                        #1FB4FC !default;

$border-radius-base:              2px !default;
$border-radius-large:             3px !default;
$border-radius-small:             2px !default;

body {
    background-color: #ebedf2    
}

// Backgound color
.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: #f7f8fa;
}

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Include partials 
@import "_chatview";
@import "_loadingbar";

// Utils
.platform-ios .manual-ios-statusbar-padding{
    padding-top:20px;
}
.manual-remove-top-padding{
    padding-top:0px; 
}
.manual-remove-top-padding .scroll{
    padding-top:0px !important;
}

.no-bottom-padding {
    margin-bottom: 0
}

.med-padding {
    padding: .4em!important;
}

.pull-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-muted {
    color: lighten($dark, 40);
}

.item-input-inset .button-clear.button-clear {
    color: inherit
}

.logo-container {
    text-align : center;
    padding :2em 2em;

    img {
        width: 80%;
        height: auto;
        max-width: 300px;
        min-width: 150px
    }
}

.loading-msg {
    text-align: center;
    padding: 10em 6em;
    color: #777;

    p { padding:1em; }
    
    .icon {
        font-size: 2.4em;
        color: #999;
        padding-bottom : 1em;
    }
}

// List light version
.list.list-light {
    .item {
        border-color: #FFF;
        background-color: #FFF;
        margin-bottom: 3px;
        
        .input-label {
            color: #757575;
            font-size: 12px;
        }

        &.has-error {
            border-color: #fff0f0;
            border-bottom-color: #ffcccc;
            background-color: #fff0f0;

            input, textarea {
                background-color: #fff0f0;

                &::webkit-input-placeholder {
                    color: #F00;
                }
            }
        } 
    }
}

.list-chats {
    .item {
        .badge {
            top: 36px;
            right: 13px;
        }  
    }
}

// List on press
// .item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content {
//     border-color: #ccc;
//     background-color: lighten($positive, 10);
// }

// Buttons
.btn-fb { 
    background-color: #3b5998; color: #FFF;
    
    .activated {
        color: #FFF;
    }
}
.btn-tw { 
    background-color: #55acee; color: #FFF;
    
    .activated {
        color: #FFF;
    }
}
.btn-gl { 
    background-color: #df4a32; color: #FFF;
    
    .activated {
        color: #FFF;
    }
}

.btn-fb, .btn-gl, .btn-tw {
    &:before {
        width: 15%;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        padding-right: .4em;
    }
}

.login-mode {
    padding: 3em 2em;
}

// Query Page
.q-text {
    color: lighten($dark, 30);
    font-size: 16px;
}

// Conversation
#conversation {
    
    .item.item-divider .badge {
        right: 16px;
    }

     .card.query-details {
        margin-top: 10px;
    }

    .bar {
        
        .button-bar {
            .button.icon:before {
                line-height: 28px;
                margin-right: 6px;
            }

            .bid-count {
                color: #FFF;
                background-color : $assertive;
                padding: 2px 4px;
                border-radius: 50%;
            }
        }

        .msg-textarea {
            width: 90%
        }
    }
}

.proposal {
    .item-button-right {
        button.button {
            top: 22px;
        }
    }
}

.profile-card {
    background-color: $positive;
    text-align: center;
    padding: 1em 1em .5em;
    
    img {
        width: 120px;
        height: 120px;
        
        border: 2px solid #FFF;
        border-radius: 50%;
    }
    
    h3 {
        padding: 0;
        color: #FFF;
        font-size: 20px;
        margin: 5px;
    }
    
    p {
        color: lighten($stable, 20%)
    }
}