<div class="ion-autocomplete-container {{viewModel.randomCssClass}} modal" style="display: none;">
   <div class="bar bar-header bar-positive item-input-inset">
      <label class="item-input-wrapper">
         <i class="icon ion-search placeholder-icon"></i>
            <input type="search" class="ion-autocomplete-search" ng-model="viewModel.searchQuery" ng-model-options="viewModel.ngModelOptions" placeholder="{{viewModel.placeholder}}"/>
      </label>

      <div class="ion-autocomplete-loading-icon" ng-if="viewModel.showLoadingIcon && viewModel.loadingIcon">
         <ion-spinner icon="{{viewModel.loadingIcon}}"></ion-spinner>
      </div>

      <button class="ion-autocomplete-cancel button button-clear" ng-click="viewModel.cancelClick()">{{viewModel.cancelLabel}}</button>
   </div>

   <ion-content class="has-header">

      <ion-item ng-if="viewModel.isArray(viewModel.selectedItems)" ng-repeat="selectedItem in viewModel.selectedItems track by $index" class="item-icon-left item-icon-right item-text-wrap">   <i class="icon ion-checkmark"></i>{{viewModel.getItemValue(selectedItem, viewModel.itemViewValueKey)}}
         <i class="icon ion-ios-trash-outline" style="cursor:pointer" ng-click="viewModel.removeItem($index)"></i>
      </ion-item>

      <ion-item ng-if="!viewModel.isArray(viewModel.selectedItems)" class="item-icon-left item-icon-right item-text-wrap">
         <i class="icon ion-checkmark"></i>
         {{viewModel.getItemValue(viewModel.selectedItems, viewModel.itemViewValueKey)}}
         <i class="icon ion-ios-trash-outline" style="cursor:pointer" ng-click="viewModel.removeItem(0)"></i>
      </ion-item>

      <ion-item class="item-divider" ng-if="viewModel.searchItems.length > 0">
         {{viewModel.selectItemsLabel}}
      </ion-item>

      <ion-item ng-repeat="item in viewModel.searchItems" item-width="100%" ng-click="viewModel.selectItem(item)" class="item-text-wrap">
         {{viewModel.getItemValue(item, viewModel.itemViewValueKey)}}
      </ion-item>
   </ion-content>
</div>