<ion-view id="conversation" title="iNeed {{ con.service.name }}">
          
        <ion-nav-bar class="bar-positive">
            <ion-nav-buttons side="left">
                <in-back to="app.chats"></in-back>
            </ion-nav-buttons>
        </ion-nav-bar>

        <div class="bar bar-subheader">
          <div class="button-bar">
            <a ng-click="showDetails()" class="button icon ion-ios-information-outline">Details</a>
            <a ng-click="proposal()" class="button icon ion-ios-calculator">
              <span ng-show="con.bids.length > 0" class="bid-count">{{ con.bids.length }}</span> Proposals
            </a>
            <a ng-click="leave()" class="button icon ion-ios-trash-outline assertive">Exit</a>
          </div>
        </div>

          <ion-content class="has-header has-subheader has-footer" delegate-handle="userMessageScroll">

          <div class="query-details">
            <div ui-sref="app.providers" class="item item-divider">
              <span class="badge badge-assertive">{{ con.provider_count }}</span> Providers
            </div>
            <div class="item item-text-wrap">
              <p><strong> <span class="positive">{{ con.user.first_name }}'s </span>query for <span class="positive">{{ con.service.name }}</span></strong></p>
              <p>{{ con.description }}</p>
              <p class="text-right"> <small> <span class="text-muted" am-time-ago="con.created_at"></span> </small></p>
            </div>
          </div>
            
          <div ng-repeat="message in messages track by $index" class="message-wrapper" on-hold="onMessageHold($event, $index, message)">

              <div ng-if="user.id !== message.user_id && !message.type">
                 <img ng-click="viewProfile(message)" class="profile-pic left" 
                      ng-src="img/avatar-placeholder.svg" hires="{{ message.user.avatar }}" />

                  <div class="chat-bubble left">

                      <div class="message" ng-bind-html="message.text | nl2br" autolinker></div>
  
                      <div class="message-detail">
                          <span ng-click="viewProfile(message)" 
                              class="bold">{{message.user.first_name}}</span>, 
                          <span class="pull-right"> {{ message.created_at | amUtc | amLocal | amTimeAgo }}</span>
                      </div>
  
                  </div>
              </div>
  
              <div ng-if="user.id === message.user_id && !message.type">
                 <img ng-click="viewProfile(message)" class="profile-pic right" 
                      ng-src="img/avatar-placeholder.svg" hires="{{ message.user.avatar }}" />

                   <div class="chat-bubble right">
    
                      <div class="message" ng-bind-html="message.text | nl2br" autolinker></div>
  
                      <div class="message-detail">
                          <span ng-click="viewProfile(message)" 
                              class="bold">{{user.first_name}}</span>,  
                          <span class="pull-right"> {{ message.created_at | amUtc | amLocal | amTimeAgo }}</span>
                      </div>
    
                   </div>
                
              </div>

              <div ng-if="message.type && message.type === 'log'" class="msg-log">
                <span>{{ message.text }}</span> <span class="time">{{ message.created_at | amUtc | amLocal | amTimeAgo }}</span>
              </div>
  
              <div class="cf"></div>
  
          </div>
          </ion-content>
      
          <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
              <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>

                  <label class="item-input-wrapper">
                      <textarea ng-model="input.message" class="msg-textarea" value="" placeholder="Send a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
                  </label>

                  <div class="footer-btn-wrap">
                    <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                        ng-disabled="!input.message || input.message === ''">
                    </button>
                  </div>

              </ion-footer-bar>
          </form>

</ion-view>