<ion-modal-view>
    <ion-header-bar class="bar-positive">
      <h1 class="title">Details</h1>
    </ion-header-bar>
    <ion-content>
    		<div class="card">
			  <div class="item item-divider">
			    Query Info
			  </div>
			  <div class="item item-text-wrap">
			  	<p><strong> <span class="positive">{{ con.user.first_name }}'s </span>query for <span class="positive">{{ con.service.name }}</span></strong></p>
			    <p>{{ con.description }}</p>
			  </div>

			  <a class="item item-icon-left">
			    <i class="icon ion-clock"></i>
			    <span am-time-ago="con.created_at"></span>
			  </a>

			  <a class="item item-icon-left">
			    <i class="icon ion-location"></i>
			    <div ng-if="!con.lat">
			    	Post Code <span> {{ con.post_code }} </span>
			    </div>
				
				<div ng-if="con.lat">
					{{ con.lat }},{{ con.lon }}
				</div>

			  </a>

			  <a class="item item-icon-left">
			    <i class="icon ion-ios-people"></i>
			    Providers {{ con.provider_count }}
			  </a>
				
			  <a class="item item-icon-left">
			    <i class="icon ion-chatboxes"></i>
			    {{ con.messages.length }} messages
			  </a>
		</div>
    </ion-content>
    <ion-footer-bar class="bar-stable">
  		<h1 class="title" ng-click="closeModal()"><span class="assertive">Close</span></h1>
    </ion-footer-bar>
</ion-modal-view>