<ion-modal-view>
    <ion-header-bar class="bar-positive">
      <h1 class="title">Payment</h1>
    </ion-header-bar>
    <ion-content>

		  <div class="item item-divider">
		    Payment for <span class="positive">{{ con.service.name }}</span>
		  </div>
		  <div class="item item-text-wrap">
		  	<p><strong> <span class="positive">{{ con.user.first_name }}'s </span>query for <span class="positive">{{ con.service.name }}</span></strong></p>
		    <p>{{ con.description }}</p>
		  </div>
		</div>

		  <div class="item item-divider">
		    Vendor info
		  </div>
		  <div class="item item-avatar">
		  	 <img ng-src="img/avatar-placeholder.svg" hires="{{ bid.user.avatar }}" />
		  	<h2>{{ bid.user.first_name }} {{ bid.user.last_name }}</h2>
		  </div>
		  <div class="item item-divider">
		    Amount
		  </div>
		  <div class="item">
		  	Hours 
		  	<span class="item-note">
		  		{{ bid.hours | number }}
		  	</span>
		  </div>
		  <div class="item">
		  	$ Per Hours 
		  	<span class="item-note">
		  		{{ bid.hourly_rate | number }}
		  	</span>
		  </div>
		  <div class="item">
		  	Total {{ bid.hours }} x {{ bid.hourly_rate }} = 
		  	<span class="assertive item-note">
		  		<strong> {{ bid.total | currency }} </strong>
		  	</span>
		  </div>
			
			<div class="padding">
				<button class="button button-block button-balanced" ng-click="payButton($event)">Pay</button>	

				<button class="button button-block" ng-click="closePayModal()">Cancel</button>	
			</div>
		  
		</div>
    </ion-content>
    
</ion-modal-view>