<ion-modal-view>
    <ion-header-bar class="bar-positive">
      <h1 class="title">Proposals</h1>
    </ion-header-bar>
    <ion-content>
    	<div class="list proposal">
		  <ion-item ng-if="!con.bids.length">
				<p class="text-center">Sorry! No Proposal yet</p>
		  </ion-item>
		  <div class="item item-avatar item-button-right" ng-repeat="bid in con.bids">
		  	<img ng-src="img/avatar-placeholder.svg" hires="{{ bid.user.avatar }}">
		    <h2>{{ bid.user.first_name + ' ' + bid.user.last_name }}</h2>
		    <p>{{ bid.hours | number }} hrs <span class="assertive"> {{ bid.total | currency}} </span></p>
		    <button ng-click="approveBid(bid)" class="button button-balanced">
		      <i class="icon ion-checkmark"></i>
		    </button>
		  </div>

		</div>
    </ion-content>
    <ion-footer-bar class="bar-stable">
  		<h1 class="title" ng-click="closeProposalModal()"> <span class="assertive">Close</span></h1>
    </ion-footer-bar>
</ion-modal-view>